### Builder
target/
build/
out/
gen/
.gradle/
local.properties
mailSender.properties
bin
.mvn/
webdefault.xml
index.html

### IntelliJ
.idea/
*.iml
*.ipr
*.iws
mvnw
mvnw.cmd

### Eclipse
.settings/
.project
.classpath
.mymetadata

### Package Files
*.jar
*.war
*.ear

### Other
.DS_Store
*.log
*.bak
